

.meal-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  text-align: center;

  .meal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ingredient-line {
    display: flex;
    align-items: center;
    max-width: 100%;
    mat-form-field {
      max-width: 35%;
    }
  }
}