<div class="meal-wrap">
  <h3 class="mat-diaplay-1">Tilføj måltid</h3>
  <form #form="ngForm" class="meal-form">
    <mat-form-field>
      <input type="text" name="mealName" [(ngModel)]="meal.name" matInput placeholder="Navn" required>
    </mat-form-field>
    <div *ngFor="let in of ingredients; let i = index" class="ingredient-form">
      <mat-form-field>
        <mat-label>Madvare</mat-label>
        <mat-select [(ngModel)]="in" name="ingredient-{{i}}">
          <mat-option *ngFor="let in of ingredientOptions" [value]="in">
            {{in.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="margin-left: 8px;">
        <input type="number" [(ngModel)]="in.quantity" name="quantity-{{i}}" matInput>
        <span matSuffix>g</span>
      </mat-form-field>
      <button mat-icon-button (click)="removeIngredient(i)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="ingredient-form">
      <mat-form-field>
        <mat-label>Vælg madvare</mat-label>
        <mat-select [(ngModel)]="ingredient" name="ingredient">
          <mat-option *ngFor="let in of ingredientOptions" [value]="in">
            {{in.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="margin-left: 8px;">
        <input type="number" matInput placeholder="Mængde" name="quantity" [(ngModel)]="quantity">
        <span matSuffix>g</span>
      </mat-form-field>
      <button mat-icon-button (click)="addIngredient()">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </form>

  <p>Phe tot: {{ totalPhenyl }}</p>
  <p>Pro tot: {{ totalProtein }}</p>
  <div style="display: flex;">
    <button class="add-button" mat-raised-button color="primary" (click)="saveMeal()">Gem måltid</button>
    <button class="add-button" mat-raised-button routerLink="/ingredient" color="warn">Opret madvare</button>
  </div>
</div>