<div class="meal-wrap">
  <h3>Opret måltid</h3>
  <form #mealForm="ngForm" class="meal-form">
    <mat-form-field>
      <input type="text" name="mealName" [(ngModel)]="meal.name" matInput placeholder="Navn" required>
    </mat-form-field>
    <div style="display: flex; align-items: center">
      <h5>Tilføj madvarer</h5>
      <!-- <button class="add-button" style="margin-left: 16px; height: 34px" mat-raised-button routerLink="/ingredient" color="warn">Opret ny</button> -->
    </div>
    <div *ngFor="let ing of meal.ingredients; let i = index" class="ingredient-line">
      <mat-form-field>
        <input type="text" matInput [disabled]="true" [value]="ing.ingredient.name">
      </mat-form-field>
      <mat-form-field style="margin-left: 8px;">
        <input type="number" [(ngModel)]="ing.quantity" name="quantity-{{i}}" matInput>
        <span matSuffix>g</span>
      </mat-form-field>
      <button mat-icon-button (click)="removeIngredient(i)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="ingredient-line">
      <mat-form-field>
        <input type="text" placeholder="Indtast madvare" matInput [matAutocomplete]="auto" [formControl]="ingredientControl">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let ingredient of filteredIngredientOptions | async" [value]="ingredient">
            {{ingredient?.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field style="margin-left: 8px;">
        <input type="number" matInput placeholder="Mængde" name="quantity" [(ngModel)]="quantity">
        <span matSuffix>g</span>
      </mat-form-field>
      <button *ngIf="canAdd" mat-icon-button (click)="addIngredient()" [disabled]="!canAdd">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!canAdd" (click)="createIngredient = !createIngredient">
        <mat-icon *ngIf="!createIngredient">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="createIngredient">keyboard_arrow_up</mat-icon>
      </button>
    </div>
    <app-add-ingredient *ngIf="createIngredient" [name]="ingredientControl.value" (ingredientCreated)="ingredientCreated($event)"></app-add-ingredient>
  </form>

  <p>Phe i alt: {{ totalPhenyl }}mg</p>
  <p>Protein i alt: {{ totalProtein }}g</p>
  <button class="add-button" mat-raised-button color="primary" (click)="saveMeal()"
    [disabled]="!mealForm.valid || !meal.ingredients.length">
    Gem måltid
  </button>
</div>