<div class="ingredient-wrap">
  <h3>Opret madvare</h3>
  <form #ingredientForm="ngForm" style="display: flex; flex-direction: column">
    <mat-form-field>
      <input type="text" matInput [(ngModel)]="name" name="name" placeholder="Navn" required>
    </mat-form-field>
    <mat-form-field>
      <input type="tel" matInput [(ngModel)]="protein" name="protein" placeholder="Protein" required>
    </mat-form-field>
  </form>
  <p *ngIf="protein">Phe: {{phenyl}}</p>
  <button mat-raised-button color="primary" (click)="createIngredient()" [disabled]="!ingredientForm.valid">Opret</button>
</div>