.ingredient-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 8px 0px;
  width: 100vw;
  max-width: calc(100vw - 24px);

  .ingredient-form {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    mat-form-field {
      display: flex 1 1 auto;
      min-width: 30px;
      max-width: none;
    }

    .create-btn {
      margin-left: 8px;
    }
  }
}