@import '~src/styles/variables.scss';

router-outlet {
  max-height: calc(100% - 48px);
}

.sidenav-container {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  .menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    width: 40%;
    min-width: 160px;
  }
}

.nav-btn {
  border-radius: 0;
  width: calc(100% + 32px);
  text-align: left;
  margin: 0 -16px;
}

.active {
  color: $primary;
}