@import "~src/styles/variables.scss";

.profile-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  h3 {
    width: 100%;
  }
  .logout {
    position: fixed;
    top: 62px;
    right: 16px;
    background-color: $primary;
    color: white;
  }
  .check {
    top: auto;
    bottom: 16px;
  }
  .checking-spinner {
    position: fixed;
    bottom: 16px;
    left: 16px;
  }
  .update {
    background-color: $warn;
  }
}