<div class="profile-wrap">
  <p>Bruger</p>
  <p>{{(auth.currentUser$ | async)?.email}}</p>
  <div style="display: flex; align-items: center;">
    <mat-form-field>
      <input matInput autocomplete="off" type="tel" [formControl]="pkuControl" placeholder="Opdater pku tolerance" [value]="(user$ | async)?.pkuLimit">
    </mat-form-field>
    <button mat-raised-button (click)="updateLimit()" [disabled]="!pkuControl.dirty" color="primary" style="margin-left: 8px">Gem</button>
    <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
  </div>
  <a href="https://www.rigshospitalet.dk/afdelinger-og-klinikker/julianemarie/boerne-unge-klinikken/center-for-pku/inspiration/opskrifter/Sider/default.aspx?rhKeywords=Pku"
  >Se opskrifter fra rigshospitalet her</a>
  <!-- <mat-progress-spinner [mode]="indeterminate" *ngIf="loading"></mat-progress-spinner> -->
  <button mat-raised-button (click)="logout()" class="logout">Log ud</button>
</div>
