<div class="print-wrap" id="content" #content>
  <div class="header-action">
    <h4>Periode - {{fromDate | date:'dd-MM-yyyy'}} - {{toDate | date:'dd-MM-yyyy'}}</h4>
    <div class="actions">
      <button mat-icon-button (click)="share()"><mat-icon>share</mat-icon></button>
      <button mat-icon-button (click)="captureScreen()"><mat-icon>print</mat-icon></button>
    </div>
  </div>
  <div class="select-period">
    <input matInput autocomplete="off" [hidden]="true" [matDatepicker]="pickerFrom" placeholder="Fra dato" [value]="fromDate">
    <p>Fra {{ fromDate | date:'dd-MM-yyyy' }}</p>
    <mat-datepicker-toggle [for]="pickerFrom" class="toggle"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom class="calendar"></mat-datepicker>
    <input matInput autocomplete="off" [hidden]="true" [matDatepicker]="pickerTo" placeholder="Til dato" [value]="toDate">
    <p> Til {{ toDate | date:'dd-MM-yyyy' }}</p>
    <mat-datepicker-toggle [for]="pickerTo" class="toggle"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo class="calendar"></mat-datepicker>
  </div>
  <mat-card class="table-card">
    <table class="table" id="contentToConvert">  
        <tr>  
          <th>Måltid</th>
          <th>Dato</th>  
          <th>Tidspunkt</th>  
          <th>Mængde</th>  
          <th>Protein indhold</th>
          <th>Pku indhold</th>
        </tr>  
        <tr *ngFor="let m of mealsInPeriod">
          <td>{{m.meal?.name}}</td>
          <td>{{m.date}}</td>
          <td>{{getTime(m.consumedOnTime)}}</td>
          <td>{{m.quantity | number:'0.00'}} {{m.unit}}</td>
          <td>{{m.totalProtein | number:'0.00'}} g</td>
          <td>{{m.totalPhenyl | number:'0.00'}} mg</td>
        </tr>
      </table>  
  </mat-card>  
</div>  
  
