<div class="print-wrap" id="content" #content>
  <div class="header-action">
    <h4>Periode - {{fromDate | date:'dd-MM-yyyy'}} - {{toDate | date:'dd-MM-yyyy'}}</h4>
    <div class="actions">
      <button mat-icon-button (click)="share()"><mat-icon>share</mat-icon></button>
      <button mat-icon-button (click)="captureScreen()"><mat-icon>print</mat-icon></button>
    </div>
  </div>
  <div class="select-period">
    <mat-form-field>
      <input matInput [matDatepicker]="pickerFrom" placeholder="Fra dato">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom" class="toggle"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom class="calendar"></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="margin-left: 16px">
      <input matInput [matDatepicker]="pickerTo" placeholder="Til dato" [value]="mealService.selectedDate">
      <mat-datepicker-toggle matSuffix [for]="pickerTo" class="toggle"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo class="calendar"></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-card class="table-card">
    <table class="table" id="contentToConvert">  
        <tr>  
          <th>Måltid</th>
          <th>Dato</th>  
          <th>Tidspunkt</th>  
          <th>Mængde</th>  
          <th>Protein indhold</th>
          <th>Pku indhold</th>
        </tr>  
        <tr *ngFor="let m of mealsInPeriod">
          <td>{{m.meal?.name}}</td>
          <td>{{m.date | date:'dd-MM-yyyy'}}</td>
          <td>{{m.consumedOnTime}}</td>
          <td>{{m.quantity}} {{m.unit}}</td>
          <td>{{m.totalProtein}} g</td>
          <td>{{m.totalPhenyl}} mg</td>
        </tr>
      </table>  
  </mat-card>  
</div>  
  
