@import "~src/styles/variables.scss";

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  .calendar {
    width: 100%;
  }
  .fab-add {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 10;
    background-color: $accent;
    color: white;
  }
}
