<app-loading *ngIf="loading"></app-loading>
<div class="my-day-wrap">
  <div>
    <div class="header-calendar">
      <h3>Dagens måltider - {{mealService.selectedDate | date:'dd-MM-yyy'}}</h3>
      <app-calendar></app-calendar>
    </div>
    <div class="daymeals" [style.opacity]="mealsVisible ? '1' : '0'">
      <mat-expansion-panel *ngFor="let m of mealService.selectedDateMeal$ | async; let i = index" #panel [disabled]="editing === i">
        <mat-expansion-panel-header *ngIf=" editing !== i">
          <p class="time">{{m?.consumedOnTime}}</p>
          <p class="name">{{m.meal.name}}</p>
          <p class="name">{{m.quantity}} {{m.unit}}</p>
        </mat-expansion-panel-header>
        <mat-expansion-panel-header *ngIf="editing === i">
          <app-edit-daymeal style="width: 100%" [dayMeal]="m" (updateMeal)="updateMeal($event)"></app-edit-daymeal>
        </mat-expansion-panel-header>
        <div class="panel-content">
          <h4 style="margin: 8px 0px">Måltidet består af:</h4>
          <table style="text-align: left">
            <tr *ngFor="let in of m.meal.ingredients">
              <th><p class="meal">{{in.ingredient.name}}</p></th>
              <td><p p class="meal" style="margin-left: 8px">{{ingredientQuantityInMeal(in, m) | number:'0.0-2'}} {{in?.ingredient.unit}}</p></td>
            </tr>
          </table>
          <p style="font-style: italic">Total mængde {{totalQuantityInMeal(m)}} {{m.meal.unit}}</p>
          <mat-divider style="width: 100%"></mat-divider>
          <h4 style="margin: 8px 0px">Protein og Phe indhold</h4>
          <table style="text-align: left">
            <tr>
              <th><p class="meal">Phe:</p></th>
              <td><p p class="meal" style="margin-left: 8px">{{getPhenylInDayMeal(m) | number:'0.0-2'}} mg</p></td>
            </tr>
            <tr>
              <th><p p class="meal">Protein:</p></th>
              <td><p p class="meal" style="margin-left: 8px">{{getProteinInDayMeal(m) | number:'0.0-2'}} g</p></td>
            </tr>
          </table>
          <p>1 Liste = {{(25/m.meal?.phenylPer100)*100 | number:'0.0-0'}} {{m.meal.unit}} {{m.meal.name}}</p>
        </div>
        <mat-action-row class="acitons">
          <button mat-raised-button class="action-btn delete" (click)="removeMealOnDate(m)">
            <mat-icon>clear</mat-icon>
            Fjern
          </button>
          <button *ngIf="editing !== i" mat-raised-button class="action-btn" (click)="editing = i">
            <mat-icon>edit</mat-icon>
            Rediger
          </button>
          <button *ngIf="editing === i" mat-raised-button class="action-btn" (click)="editing = null">
            Annuller
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <form #form="ngForm" class="meal-form">
        <mat-form-field (click)="togglePanelIfEmpty()">
          <input  matInput type="text" autocomplete="off" placeholder="Indtast måltid" [matAutocomplete]="auto" [formControl]="mealControl">
          <mat-autocomplete [panelWidth]="300" autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let meal of filteredMealOptions | async" [value]="meal">
              <button mat-icon-button (click)="deleteMeal(meal)" style="margin-right: 8px">
                <mat-icon>delete</mat-icon>
              </button>
              {{meal?.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field style="margin-left: 8px;">
          <input matInput type="tel" autocomplete="off" placeholder="Mængde" name="quantity" [(ngModel)]="quantity" required>
        </mat-form-field>
        <mat-form-field style="max-width: 50px; min-width: 50px; margin-left: 8px">
          <mat-select [(ngModel)]="unit" name="unit" [disabled]="!selectedMeal" required>
            <mat-option *ngFor="let u of filteredUnits" [value]="u">
              {{u}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="addMealOnDate()" [disabled]="!selectedMeal || !form.valid">
          <mat-icon>check</mat-icon>
        </button>
      </form>
    </div>
  </div>
  <div class="remaining mat-elevation-z2" [ngClass]="mealsVisible ? 'inside-x' : 'outside-x-left'">
    <h3>Resterende Phe: {{remainingPhenyl}} mg</h3>
    <mat-icon *ngIf="remainingPhenyl <= 100">warning</mat-icon>
  </div>
</div>

<button class="fab-add" mat-fab routerLink="/meal" [ngClass]="mealsVisible ? 'inside-x' : 'outside-x-right'">
  <mat-icon>add</mat-icon>
</button>