<div class="my-day-wrap">
  <div>
    <h1>Dagens måltider</h1>
    <mat-list>
      <mat-list-item *ngFor="let l of dailyMeals">{{l.meal.name}}: {{l.quantity}}g</mat-list-item>
    </mat-list>
    <form #form="ngForm" class="meal-form">
      <mat-form-field>
        <mat-label>Vælg måltid</mat-label>
        <mat-select [(ngModel)]="selectedMeal" name="meal" required>
          <mat-option *ngFor="let m of mealOptions" [value]="m">
            {{m.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="margin-left: 8px;">
        <input type="number" matInput placeholder="Mængde" name="quantity" [(ngModel)]="quantity" required>
        <span matSuffix>g</span>
      </mat-form-field>
      <button mat-icon-button (click)="addMealOnDate()" [disabled]="!form.valid">
        <mat-icon>check</mat-icon>
      </button>
    </form>
  </div>
  <div class="remaining mat-elevation-z4">
    <h3>Resterende Phe: {{remainingPhenyl}}</h3>
    <mat-icon *ngIf="remainingPhenyl <= 100">warning</mat-icon>
  </div>
</div>
