

.my-day-wrap {
  width: 100vw;
  padding: 16px;

  .meal-form {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    mat-form-field {
      flex: 1 1 auto;
      min-width: 80px;
    }
    button {
      margin-right: 16px;
    }
  }
}

.remaining {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  padding: 8px 8px;
  z-index: 10;
  bottom: 0;
  left: 0;
  h3 {
    margin: 0;
  }
  mat-icon {
    color: red;
    margin-left: 8px
  }
}